# **üìÅ Import Libraries & Load Data**

In [1]:
import pandas as pd
import seaborn as sns

In [2]:
data = sns.load_dataset('titanic')
data = data.dropna()
data.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
6,0,1,male,54.0,0,0,51.8625,S,First,man,True,E,Southampton,no,True
10,1,3,female,4.0,1,1,16.7000,S,Third,child,False,G,Southampton,yes,False
11,1,1,female,58.0,0,0,26.5500,S,First,woman,False,C,Southampton,yes,True

# **‚öôÔ∏è Set Up PyCaret for Classification**

In [3]:
from pycaret.classification import *

classification_setup = setup(
    data=data,
    target = 'survived',
    session_id = 123,
    verbose = False
)

# **ü§ñ Compare All Models and Select the Best One**

In [4]:
best_model = compare_models()

Initiated  . . . . . . . . . . . . . . . . . .             06:32:57
Status     . . . . . . . . . . . . . . . . . .    Loading Estimator
Estimator  . . . . . . . . . . . . . . . . . .  Logistic Regression

# **üìà Evaluate the Best Model Visually**

In [5]:
evaluate_model(best_model)

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Pipeline Plot', 'pipelin‚Ä¶

# **‚úÖ Finalize the Best Model**

In [6]:
final_model = finalize_model(best_model)

# **üíæ Save the Model for Future Use**

In [7]:
save_model(final_model , 'best_classification_model')

Transformation Pipeline and Model Successfully Saved

(Pipeline(memory=Memory(location=None),
          steps=[('numerical_imputer',
                  TransformerWrapper(exclude=None,
                                     include=['pclass', 'age', 'sibsp', 'parch',
                                              'fare'],
                                     transformer=SimpleImputer(add_indicator=False,
                                                               copy=True,
                                                               fill_value=None,
                                                               keep_empty_features=False,
                                                               missing_values=nan,
                                                               strategy='mean'))),
                 ('categorical_imputer',
                  TransformerWrapper(exclude=None,
                                     include=['sex...
                  TransformerWrapper(exclude=None,
                                     include=['embarked', 'class', 'who', 'deck',
                                              'embark_town'],
                                     transformer=OneHotEncoder(cols=['embarked',
                                                                     'class',
                                                                     'who',
                                                                     'deck',
                                                                     'embark_town'],
                                                               drop_invariant=False,
                                                               handle_missing='return_nan',
                                                               handle_unknown='value',
                                                               return_df=True,
                                                               use_cat_names=True,
                                                               verbose=0))),
                 ('actual_estimator',
                  GaussianNB(priors=None, var_smoothing=1e-09))],
          verbose=False),
 'best_classification_model.pkl')

# **üß™ Make Predictions on New or Existing Data**

In [8]:
predictions = predict_model(final_model, data=data)

In [9]:
predictions.head()

,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone,survived,prediction_label,prediction_score
1,1,female,38.0,1,0,71.283302,C,First,woman,False,C,Cherbourg,yes,False,1,1,1.0
3,1,female,35.0,1,0,53.099998,S,First,woman,False,C,Southampton,yes,False,1,1,1.0
6,1,male,54.0,0,0,51.862499,S,First,man,True,E,Southampton,no,True,0,0,1.0
10,3,female,4.0,1,1,16.700001,S,Third,child,False,G,Southampton,yes,False,1,1,1.0
11,1,female,58.0,0,0,26.549999,S,First,woman,False,C,Southampton,yes,True,1,1,1.0

# **ThankYou**